* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --laranja: rgb(253, 114, 39);
    --branco: #fff;
    --fundo: rgb(251, 231, 181);
    --preto: #000;
}

body {
    background: var(--fundo);
    height: 100vh;
    width: 100%;
    justify-content: center;
}

h1, h2, p {
    text-align: center;
}

button {
    width: 150px;
    height: 70px;
    background: var(--laranja);
    color: var(--branco);
    font-size: 20px;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    width: 150px;
    height: 70px;
    font-size: 20px;
    background: var(--branco);
    color: var(--preto);
    box-shadow: 0 0 5px 1px var(--preto);
    border-radius: 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    list-style: none;
    color: var(--branco);
}

button a:hover {
    text-decoration: none;
    list-style: none;
    color: var(--preto);
}

.img-principal {
    width: 40vw;
    height: 30vh;
    margin: 10px auto;
    border: transparent 1px;
    background: var(--laranja);
    box-shadow: 0 0 5px 1px rgb(4, 4, 4);
    border-radius: 10px;
}

.img-principal:hover {
    width: 41vw;
    height: 31vh;
    margin: 10px auto;
    background: var(--branco);
}

.button-ar {
    justify-items: center;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 20px;
    background-color: var(--laranja);
    color: var(--branco);
    border: none;
    cursor: pointer;
}

.lanches {
    width: 100vw;
    margin: 10px auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    display: flex;
}

.tituloLanche {
    font-size: 2rem;
    margin-top: 5px;
}

.home {
    width: 100vw;
    margin: 10px auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.home p {
    font-size: 1.5rem;
    margin: 10px;
}

.imgHome {
    width: 40vw;
    height: 30vh;
    margin: 10px auto;
}

.menu {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem var(--preto);
}

.menu .logo {
    color: var(--laranja);
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span {
    color: var(--preto);
}

.menu ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.menu ul li a {
    color: var(--preto);
    font-size: 17px;
    font-weight: 500;
}

.menu ul li a:hover {
    color: var(--laranja);
}

.menu i {
    cursor: pointer;
    font-size: 1.5rem;
}

.divMenu {
    cursor: pointer;
    display: none;
}

.divMenu .bar {
    display: block;
    width: 28px;
    height: 3px;
    background: var(--preto);
    margin: 5px auto;
}

.divMenu .bar:nth-child(1),
.divMenu .bar:nth-child(3) {
    background: var(--laranja);
}